* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Segoe UI", sans-serif;
  background: rgba(4, 4, 4, 0.098);
  color: rgb(4, 4, 4);
  margin: 0 5%;
  cursor: none;
}
body::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #faf8f8;
  animation: animBefore 1.5s ease forwards;
  animation-delay: 0.15s;
  z-index: 2;
}

@keyframes animBefore {
  to {
    opacity: 0;
    z-index: 0;
  }
}
a {
  text-decoration: none;
  color: rgb(4, 4, 4);
  cursor: pointer;
  transition: 0.3s ease;
  cursor: pointer;
  z-index: 10;
}

header {
  height: 100vh;
}
@keyframes animHeader {
  to {
    transform: translateY(0);
  }
}
nav {
  display: flex;
  justify-content: space-between;
  color: rgb(4, 4, 4);
  gap: 34.2%;
  font-size: 1.5rem;
  position: fixed;
  background: #faf8f8;
  border-radius: 30px;
  width: 90%;
  top: -120px;
  transition: 0.4s;
  z-index: 10;
}
.logo {
  padding: 40px 40px;
}
nav ul {
  display: flex;
  width: 100%;
  text-align: end;
}

nav ul li {
  cursor: pointer;
  text-transform: uppercase;
  height: 100%;
  padding: 40px 40px;
  transition: 0.3s ease-in-out;
  z-index: 10;
  cursor: pointer;
}
nav ul li:hover {
  scale: 110%;
}
nav ul li a {
  z-index: 10;
  cursor: pointer;
}
.header-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  height: 100%;
  gap: 10%;
}
.header-content h1 {
  font-size: 4rem;
  transform: translateY(40px);
  animation: animHeader 1.5s ease forwards;
}
.header-content h2 {
  font-size: 2rem;
  transform: translateY(40px);
  animation: animHeader 1.2s ease forwards;
}
.header-tech {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 100px;
  transform: translateY(40px);
  animation: animHeader 1.2s ease forwards;
}
.header-tech-sheet {
  cursor: pointer;
  text-align: center;
  animation: skillsAnim 3s ease-out infinite;
  transform: translateX(-10px) translateY(-10px);
  padding: 10px;
}

@keyframes skillsAnim {
  25% {
    scale: 105%;
    transform: translateX(-10px) translateY(10px);
  }
  50% {
    scale: 110%;
    transform: translateX(10px) translateY(10px);
  }
  75% {
    scale: 105%;
    transform: translateX(10px) translateY(-10px);
  }
  to {
    scale: 100%;
    transform: translateX(-10px) translateY(-10px);
  }
}
main {
  height: 100vh;
  display: grid;
  grid-template-rows: 50% 50%;
}

main div h3 {
  font-size: 2rem;
}
.about p {
  line-height: 50px;
}
.projects-links {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}
.projects-links-go {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.projects-links-go a {
  transition: 0.3s ease-in-out;
  color: rgb(4, 4, 4);
  text-transform: uppercase;
  background: none;
  border: 2px solid rgb(4, 4, 4);
  padding: 18px 30px;
  border-radius: 3px;
  letter-spacing: 3px;
  font-size: 1.2rem;
  transition: 0.3s ease;
  animation: linkAnim 1.5s ease infinite;
}
@keyframes linkAnim {
  25% {
    border: 2px dashed rgb(4, 4, 4);
  }
  50% {
    border: 2px dotted rgb(4, 4, 4);
  }
  75% {
    border: 2px dashed rgb(4, 4, 4);
  }
  to {
    border: 2px dotted rgb(4, 4, 4);
  }
}
.projects-links-go a:hover {
  color: rgb(249, 249, 248);
  background: rgba(4, 4, 4, 0.098);
  scale: 110%;
  cursor: pointer;
  animation: linkAnim 1.5s infinite;
}

footer {
  text-align: center;
  height: 50vh;
  display: grid;
  grid-template-rows: 50% 50%;
  border-top: 1px solid rgb(4, 4, 4);
}
footer h3 {
  margin: 40px 0;
}
.contact-infos {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;
}
.footer-copyright-socialmedia {
  border-top: 1px solid rgb(4, 4, 4);
  text-transform: uppercase;
}
.social {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
}
.social div i {
  display: block;
}
.classAnimClickNav {
  color: rgb(249, 249, 248);
  letter-spacing: 5px;
  transform: translateX(0);
}
.classBackground {
  background: rgb(4, 4, 4);
}

.mousemove {
  height: 10px;
  width: 10px;
  background: rgb(4, 4, 4);
  position: absolute;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  z-index: 9;
}
.mousemove2 {
  height: 50px;
  width: 50px;
  background: rgba(249, 249, 248, 0.378);
  position: absolute;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  z-index: 8;
  transition: 0.2s;
  mix-blend-mode: difference;
}
.mousemove3 {
  height: 150px;
  width: 150px;
  background: rgba(4, 4, 4, 0.098);
  position: absolute;
  border-radius: 300px;
  transform: translate(-50%, -50%);
  z-index: 7;
  transition: 0.3s;
  mix-blend-mode: difference;
}
