* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Blinker", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Blinker", sans-serif;
}
/*--Nav--*/
nav {
  background-color: rgb(250, 250, 250);
  width: 100%;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.23);
  padding: 0 19px;
}
.nav-container {
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  transition: height 0.1s linear;
}
.nav-container-logo-image {
  height: auto;
  width: 8.5rem;
}
.nav-container-links {
  display: flex;
  font-size: 1.8rem;
  gap: 2.5rem;
  text-transform: uppercase;
  color: rgb(8, 8, 8);
}
.nav-container-links-tab {
  color: black;
  text-decoration: none;
}
.nav-container-links-icon {
  cursor: pointer;
}
.nav-container-hamburger {
  display: none;
  gap: 3em;
}

header {
  position: relative;
  max-width: 1200px;
  max-height: 90px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "br c k"
    "br c e";
  gap: 3px;
  margin: 0 auto;
}
.header-bedroom {
  grid-area: br;
  position: relative;
}
.header-bedroom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-bedroom p {
  position: absolute;
  bottom: 0.5em;
  left: 0.5rem;
  font-size: 2rem;
  color: rgb(250, 250, 250);
}
.header-grid-overlay {
  position: absolute;
  background: rgba(31, 4, 211, 0.099);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.header-cosmetics {
  grid-area: c;
  position: relative;
}
.header-cosmetics img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-cosmetics p {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  font-size: 2rem;
  color: rgb(250, 250, 250);
}
.header-kitchen {
  grid-area: k;
  position: relative;
}
.header-kitchen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-kitchen p {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  font-size: 2rem;
  color: rgb(250, 250, 250);
}
.header-electronics {
  grid-area: e;
  position: relative;
}
.header-electronics img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-electronics p {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  font-size: 2rem;
  color: rgb(250, 250, 250);
}
@media (max-width: 625px) {
  .nav-container-hamburger {
    display: flex;
  }
  .nav-container-links {
    display: none;
  }
}
