main {
  background: $grey1;
  .main-discover {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 400px;

    @media screen and (max-width: 680px) {
      display: block;
    }
    .main-discover-left-border {
      display: flex;
      justify-content: center;
      text-align: center;
      background: $white1;

      .main-discover-left {
        text-align: center;
        border: 1px $gold1 dashed;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        height: 90%;
        width: 95%;
        margin: auto;
        padding: 10px 20px;

        h2 {
          line-height: 25px;
          font-size: 2.5rem;
          span {
            color: $black1;
            font-size: 1.5rem;
          }
        }
        p {
          line-height: 20px;
        }
        .chef-image img {
          height: 60px;
        }
        h3 {
          font-family: $font2;
          font-size: 1.1rem;
        }
        h4 {
          text-transform: uppercase;
          color: $grey2;
        }
      }
    }
    .main-discover-right {
      background: url(../img/store-01.jpg) center/cover;

      @media screen and (max-width: 680px) {
        display: none;
      }
    }
  }
  .menu {
    margin-top: 40px;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      height: 620px;
      width: 100%;
      left: 0;
      background: url(../img/bg-menu-01.jpg) center/cover;
      bottom: -330px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    h3 {
      font-size: 2.5rem;
    }
    .fork-spoon2 {
      margin: 25px 0;
    }
    .menu-nav {
      text-align: center;
      width: 60%;
      margin: 0 auto;

      ul {
        display: flex;
        justify-content: space-between;

        li {
          color: $white1;
          letter-spacing: 1px;
          text-decoration: underline 1px $grey2;
          text-underline-offset: 8px;
          transition: 0.3s linear;
          padding: 25px 0;
          &:hover {
            color: $gold1;
            cursor: pointer;
            text-decoration: none;
            scale: 105%;
            text-decoration: underline $gold1;
          }
        }
      }
    }
    .menu-grid-background {
      height: 800px;

      @media screen and (max-width: 830px) {
        height: 1600px;
      }

      .menu-grid {
        width: 60%;
        margin: 0 auto;
        background: $white1;
        border-top: 4px solid $gold1;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;
        height: 100%;
        z-index: 100;
        position: relative;

        @media screen and (max-width: 830px) {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
          width: 80%;
        }

        .menu-grid-product-sheet {
          width: 90%;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          gap: 10px;
          align-items: center;
          border-bottom: 1px dashed $grey2;
          height: 100%;
          transition: 0.3s ease;

          &:hover {
            opacity: 0.8;
            scale: 103%;
          }

          .menu-grid-product-sheet-text {
            .menu-grid-product-sheet-name {
              text-transform: uppercase;
              font-family: $font2;
            }
            .menu-grid-product-sheet-ingredients {
              font-size: 1.3rem;
            }
          }
          .menu-grid-product-sheet-price {
            color: $gold1;
            font-weight: bold;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .reservation {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 35% 65%;
    height: 600px;

    @media screen and (max-width: 1200px) {
      width: 100%;
    }
    @media screen and (max-width: 1000px) {
      margin-bottom: 250px;
    }
    @media screen and (max-width: 362px) {
      display: flex;
      flex-direction: column;
      height: 1200px;
    }

    .reservation-left {
      background: $black2;
      display: flex;
      justify-content: center;
      text-align: center;
      .reservation-left-container {
        margin: auto;
        border: 1px dashed $white1;
        height: 90%;
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        .title {
          font-size: 3rem;
          line-height: 25px;
          span {
            font-size: 1.8rem;
          }
        }
        h4 {
          text-transform: uppercase;
          color: $gold1;
          font-size: 1.3rem;
          font-family: $font3;
          letter-spacing: 1px;
        }
        p {
          color: $white1;
          font-size: 1.1rem;
        }
      }
    }
    .reservation-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: $white1;
      @media screen and (max-width: 1000px) {
        padding: 20px 0;
      }

      .title {
        font-size: 3rem;
        line-height: 35px;
        span {
          font-size: 2.4rem;
          color: $black2;
        }
      }
      .fork-spoon2 {
        width: 60px;
        margin: 30px;
      }
      form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
          "peo dat tim"
          "nam pho ema"
          "empty boo u";
        row-gap: 40px;
        column-gap: 15px;

        @media screen and (max-width: 1000px) {
          display: flex;
          flex-direction: column;
        }

        select,
        input[type="date"],
        input[type="time"] {
          background: none;
          border: none;
          border-bottom: 1px solid $grey2;
          padding: 10px 0;
          font-family: $font3;
          font-size: 1.1rem;
          &:hover {
            border-bottom: 1px solid $black1;
          }
          &:focus {
            border-bottom: 1px solid $gold1;
          }
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"] {
          background: none;
          border: none;
          border-bottom: 1px solid $grey2;
          padding: 10px 0;
          font-family: $font3;
          font-size: 1.1rem;
          color: $grey2;
        }

        input[type="submit"] {
          grid-area: boo;
          background: $black2;
          color: $white1;
          text-transform: uppercase;
          font-family: $font2;
          font-size: 1.1rem;
          letter-spacing: 4px;
          border-radius: 30px;
          padding: 15px 40px;
          border: 2px solid $black2;
          &:hover {
            color: $gold1;
            background: $white1;
            border: 2px dashed $gold1;
          }
        }
      }
    }
  }
  .event {
    // height: 700px;
    margin: 70px 0;
    .title {
      font-size: 3rem;
      line-height: 42px;
      span {
        font-size: 2.2rem;
      }
    }
    .event-grid {
      width: 80%;
      height: 600px;
      margin: 50px auto;
      display: grid;
      grid-template-columns: 58% 42%;
      gap: 20px;

      @media screen and (max-width: 680px) {
        grid-template-columns: 1fr;
        width: 100%;
        height: 1200px;
      }

      .event-grid-left {
        display: grid;
        grid-template-rows: 50% 50%;
        gap: 20px;
        height: 100%;
        .event-grid-sheet {
          height: 100%;
          background: $white1;
          .event-grid-sheet-left {
            display: grid;
            grid-template-columns: 35% 65%;
            height: 100%;

            .event-grid-sheet-image1 {
              height: 100%;
              display: flex;
              text-align: center;
              justify-content: center;
              align-items: center;
              background: url(../img/event-01.jpg) center/cover;

              .event-grid-sheet-date {
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                height: 80px;
                width: 80px;
                background: $grey1;
                padding: 40px;
                color: $white1;
                span {
                  font-size: 1.5rem;
                  font-family: $font2;
                }
              }
            }
            .event-grid-sheet-description {
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              padding: 20px;
              h5 {
                padding: 0 20px;
                color: $grey1;
                font-size: 1.5rem;
                letter-spacing: 2px;
              }
              p {
                color: $grey2;
                letter-spacing: 2px;
              }
              button {
                text-align-last: left;
                font-family: $font2;
                letter-spacing: 2px;
                &:hover {
                  color: $grey2;
                  cursor: pointer;
                }
              }
            }
            .event-grid-sheet-image2 {
              height: 100%;
              display: flex;
              text-align: center;
              justify-content: center;
              align-items: center;
              background: url(../img/event-02.jpg) center/cover;
              .event-grid-sheet-date {
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                height: 80px;
                width: 80px;
                background: $grey1;
                padding: 40px;
                color: $white1;
                span {
                  font-size: 1.5rem;
                  font-family: $font2;
                }
              }
            }
          }
        }
      }
    }
    .event-grid-right {
      background: url(../img/event-03.jpg) center/cover;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      height: calc(100% + 20px);
      width: calc(100% - 20px);

      .event-grid-sheet {
        height: 90%;
        width: 90%;
        margin: auto;

        .event-grid-sheet-right {
          background: $white1;
          width: 100%;
          height: 100%;

          .event-grid-sheet-image {
            display: flex;
            justify-content: center;

            .event-grid-sheet-date {
              display: flex;
              text-align: center;
              justify-content: center;
              align-items: center;
              height: 80px;
              width: 80px;
              background: $grey1;
              padding: 40px;
              color: $white1;
              span {
                font-size: 1.5rem;
                font-family: $font2;
              }
            }
          }
          .event-grid-sheet-description {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 20px;
            h5 {
              padding: 0 20px;
              color: $grey1;
              font-size: 1.5rem;
              letter-spacing: 2px;
            }
            p {
              color: $grey2;
              letter-spacing: 2px;
            }
            button {
              text-align-last: center;
              font-family: $font2;
              letter-spacing: 2px;
              &:hover {
                color: $grey2;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
  .ceo-section {
    position: relative;
    margin-top: 150px;
    height: 640px;

    // @media screen and (max-width: 720px) {
    //   height: 700px;
    // }

    &:after {
      content: "";
      background: url(../img/gmap.jpg) center/cover;
      width: 100%;
      height: 350px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .ceo {
      width: 80%;
      height: 400px;
      margin: 0 auto 20px;
      background: $white1;
      text-align: center;
      position: relative;
      z-index: 100;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      @media screen and (max-width: 720px) {
        height: 100%;
      }

      .ceo-image {
        transform: translateY(-50%) translateX(-50%);
        position: absolute;
        top: 0;
        left: 50%;
      }
      p {
        width: 80%;
        margin: 80px auto 0;
        line-height: 40px;
        font-size: 1.1rem;

        @media screen and (max-width: 720px) {
          font-size: 0.7rem;
          line-height: 30px;
        }
      }
      h3 {
        font-size: 1.8rem;
      }
      h4 {
        color: $gold1;
        font-size: 1.2rem;
      }
    }
  }
}
