header {
  height: 100vh;
  position: relative;

  .header-content {
    height: 100%;
    margin: 0 auto;
    text-align: center;
    @include center;
    flex-direction: column;
    gap: 50px;

    .h1-container {
      width: 50%;
      @media screen and (max-width: 1260px) {
        width: 100%;
      }

      h1 {
        @include title;
        font-size: 4rem;
        @media screen and (max-width: 650px) {
          font-size: 3rem;
        }
      }
    }
    p {
      color: $white1;
      font-size: 1.5rem;
      width: 90%;
      margin: 0 auto;
    }
    i {
      color: $white1;
      border: 2px solid $white1;
      border-radius: 50px;
      font-size: 1.2rem;
      padding: 20px 22px;
      transition: 0.3s;
      &:hover {
        scale: 110%;
      }
    }
  }
  nav {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgba(209, 209, 209, 0.45);
    @media screen and (max-width: 820px) {
      display: block;
    }

    .navlinks {
      &:hover li:not(:hover) {
        background: none;
        color: $white1;
      }
      ul {
        @include center;
        height: 100%;
        @media screen and (max-width: 820px) {
          justify-content: space-between;
        }

        li {
          @include center;
          height: 100%;
          cursor: pointer;
          padding: 20px 15px;
          @include title;
          transition: 0.3s linear;
          @media screen and (max-width: 711px) {
            font-size: 0.7rem;
            text-align: center;
          }

          &:first-child {
            background: $grey2;
            color: $black1;
          }
          &:hover {
            color: $black1;
            background-color: $grey2;
          }
        }
      }
    }
    .socialmedia {
      @include center;
      gap: 4rem;
      @media screen and (max-width: 820px) {
        display: none;
      }

      i {
        cursor: pointer;
        color: $white1;
        padding: 20px 10px;
        transition: 0.3s linear;
        &:hover {
          scale: 150%;
          color: $black1;
        }
      }
    }
  }
}
