#main {
  background: $grey2;
  .section1 {
    text-align: center;

    .date {
      font-family: $font2;
      color: $black1;
      position: relative;
      padding: 90px 0;
      font-size: 1.3rem;

      &:before {
        content: "";
        width: 35%;
        height: 2px;
        background: $grey1;
        position: absolute;
        left: 5%;
        bottom: 50%;
        @media screen and (max-width: 711px) {
          width: 30%;
        }
      }
      &:after {
        content: "";
        width: 35%;
        height: 2px;
        background: $grey1;
        position: absolute;
        right: 5%;
        bottom: 50%;
        @media screen and (max-width: 711px) {
          width: 30%;
        }
      }
    }
    .section1-main {
      text-align: center;
      margin: 0 auto;
      h2 {
        width: 50%;
        text-align: center;
        margin: 0 auto;
        @include title;
        color: $black1;
        font-size: 3.5rem;
        @media screen and (max-width: 770px) {
          font-size: 2rem;
          width: 70%;
        }
      }
      p {
        width: 50%;
        margin: 0 auto;
        font-family: $font2;
        line-height: 40px;
        padding: 30px 0;
        font-size: 1.1rem;
      }
    }
  }
  .section2 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    .img-container {
      background: url(../images/pic01.jpg) center/cover;
      width: 100%;
      height: 500px;
      @media screen and (max-width: 711px) {
        height: 300px;
      }
    }
    .button-container {
      padding: 90px 0;
    }
  }
  .section3 {
    @include center;
    width: 100%;
    margin: 0 auto;

    height: 900px;
    @media screen and (max-width: 711px) {
      display: block;
      height: 1800px;
    }

    .section3-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin: 0 auto;
      border-right: 2px solid $grey1;
      height: 100%;
      padding: 70px 0;
      border-top: 2px solid $grey1;
      @media screen and (max-width: 711px) {
        height: 50%;
      }

      .section3-date {
        font-family: $font2;
        text-align: center;
      }

      h3 {
        @include title;
        color: $black1;
        font-size: 1.5rem;
        @include center;
        width: 60%;
        text-align: center;
      }

      .section3-left-img-container {
        background: url(../images/pic02.jpg) center/cover;
        min-height: 40%;
        width: 80%;
      }
      p {
        width: 80%;
        font-family: $font2;
        line-height: 40px;
      }
    }
    .section3-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin: 0 auto;
      border-right: 2px solid $grey1;
      height: 100%;
      padding: 70px 0;
      border-top: 2px solid $grey1;
      @media screen and (max-width: 711px) {
        height: 50%;
      }

      .section3-date {
        font-family: $font2;
        text-align: center;
      }
      h3 {
        @include title;
        color: $black1;
        font-size: 1.5rem;
        @include center;
        width: 60%;
        text-align: center;
      }

      .section3-right-img-container {
        background: url(../images/pic03.jpg) center/cover;
        min-height: 40%;
        width: 80%;
      }
      p {
        width: 80%;
        font-family: $font2;
        line-height: 40px;
      }
    }
  }
}
